#bannerimg {
    width: 100%;
    height: 10vw;
}
.menu {
    display: flex;
    padding: 15px;
    justify-content: center;
}
.menu a {
    color: rgb(69, 81, 82);
    text-decoration: none;
    text-align: center;
    
    font-family: 'Times New Roman', Times, serif; 
    font-size: 22px;
}
.box {
    flex-grow: 2;
    background: rgb(72, 129, 129);
    color: white;
    text-align: center;
    padding: 15px;
}

.title {
  text-align: center;
  color: rgb(73, 97, 110);
}

/*page layout with flexbox*/
.flexbox-container {
    display: flex;
    border: 5px solid #47504b;
    margin-bottom: 15px;
    justify-content: space-evenly;

}

.flexbox-item {
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: 3px solid rgb(177, 182, 185);
    background-color: rgb(177, 182, 185);
}

.flexbox-item-1 {
    min-height: 200px;
    background-color: rgb(177, 182, 185);
    font-family: ubuntu;
    font-size: 16px;
    
}

.flexbox-item-2 {
    min-height: 200px;
    flex: 1;
    align-self: center;
}

.flexbox-item-3 {
    min-height: 200px;
    width: 100px;
}

.flexbox-item-4 {
    align-items: flex-start;
    flex: 1;
    height: 200px;
    padding: 15px;
    font-family: 'Notable', sans-serif;
}
.another-container {
    display: flex;
    border: 5px solid #000000;
    align-content: space-around;
    padding: 40px;
    margin-top: 20px;
    font-family: Arial;
    font-size: 28px;
}


/*text and image format classes*/
img {
    border: 5px solid rgb(89, 174, 207);
    padding: 2px;
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

div {
    display: block;
}

body {
  background: rgb(184, 218, 213);
}

/*js file formatting*/
canvas {
    border: thin solid red;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}


